<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
</head>
<body style="margin-top: 50px; align-items: center; font-size: xx-large;">
    <div class="container" style="display: flexbox; align-items: center; text-align: center;">
        <a href="{% url 'index' %}">Click here to go home</a>
        <h1 style="color: rgb(58, 128, 0);">Success!!!</h1>
        {{ message }}
    </div>
<h1></h1>    
</body>
</html>