{% extends "webapp/nav-bar.html" %}
{% load static %}


{% block content %}




<h2>Your videos:</h2>
{% if videos %}
    <div id="videos">
        {% for video in videos %}
            <div class="video_name">
                <h2 class="title">Title: {{video.title}}</h2>
                {% with ''|add:video.video.name as image_static %}
                <video class="video_static" preload="auto" src="{% static image_static %}" width="320" height="240" controls type="video/mp4"></video>    
                {% endwith %}
                <br>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h3>No videos yet!</h3>
{% endif %}
{% endblock %}